.home-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
}

.home-option {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}